body {
 background-color:LightBlue;
 color: DarkBlue;
}

.main-header{
  color: green;
}

#main-paragraph {
  color: blue;
}
main {
  display: flex;
  //flex-direction: row;

}

.div-1{
  width: 20%
}

.div-2{
}
